apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: oci-vault
  target:
    name: grafana-admin-credentials
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: grafana-admin-json
