# Tempo Helm Chart Values
# Deployment Mode: Monolithic

persistence:
  enabled: false

tempo:
  retention: 168h
  
  # Inject S3 credentials for Tempo
  extraEnv:
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-credentials
          key: AWS_ACCESS_KEY_ID
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-credentials
          key: AWS_SECRET_ACCESS_KEY

  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-data
        endpoint: iducrocaj9h2.compat.objectstorage.us-ashburn-1.oraclecloud.com
        region: us-ashburn-1
        access_key: "${S3_ACCESS_KEY}"
        secret_key: "${S3_SECRET_KEY}"
        insecure: false
        forcepathstyle: true
      
      wal:
        path: /tmp/tempo/wal
      local:
        path: /tmp/tempo/traces

  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
        grpc:
          endpoint: 0.0.0.0:4317
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268
        grpc:
          endpoint: 0.0.0.0:14250
    zipkin:
      endpoint: 0.0.0.0:9411

  compactor:
    compaction:
      block_retention: 168h

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 2000

service:
  type: ClusterIP
  ports:
    - name: tempo-prom-metrics
      port: 3200
      protocol: TCP
      targetPort: 3200
    - name: otlp-grpc
      port: 4317
      protocol: TCP
      targetPort: 4317
    - name: otlp-http
      port: 4318
      protocol: TCP
      targetPort: 4318
    - name: jaeger-thrift-http
      port: 14268
      protocol: TCP
      targetPort: 14268
    - name: jaeger-grpc
      port: 14250
      protocol: TCP
      targetPort: 14250
    - name: zipkin
      port: 9411
      protocol: TCP
      targetPort: 9411

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1.5Gi
